<article>
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, consequatur?
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, illo sunt accusamus est earum ut. Neque voluptatem blanditiis veniam eos officiis nisi. Id dolorem porro saepe, qui tempora cumque nihil inventore exercitationem nemo magni excepturi dolorum mollitia modi sunt corporis.
    </div>
</article>